name: test
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  test:
    runs-on: ubuntu-latest
    container: ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: ruby:2.5
          - ruby: ruby:2.6
          - ruby: ruby:2.7
          - ruby: ruby:3.0
          - ruby: ruby:3.1
            rails: 6.0.5
          - ruby: ruby:3.1
            rails: 6.1.6
          - ruby: ruby:3.1
            rails: 7.0.3
          - ruby: ruby:3.3
            rails: 7.1.2
            coverage: coverage
    env:
      RAILS_VERSION: ${{ matrix.rails == '' && '6.1.6' || matrix.rails }}
      COVERAGE: ${{ matrix.coverage || '' }}
    steps:
      - uses: actions/checkout@v4
      - name: bundle install
        run: bundle install -j$(nproc) --retry 3
      - name: install simplecov-fork only for minitest with coverage
        run: |
          gem install specific_install
          gem specific_install https://github.com/exoego/simplecov.git branch-fix
        if: matrix.coverage == 'coverage'
      - run: bundle exec rspec
        timeout-minutes: 1
      - name: Upload coverage reports
        uses: codecov/codecov-action@v4
        if: matrix.coverage == 'coverage'
        with:
          fail_ci_if_error: true
          files: ./coverage/coverage.xml
